<!-- Slide Toggle for fun -->
<div class="switch-container">
  <label class="switch">
    <input type="checkbox" (change)="toggleArray()" [checked]="currentImages === funnyImages">
    <span class="slider"></span>
  </label>
  <span class="switch-text" [ngClass]="{ 'active': currentImages === funnyImages }">{{'playPage.change' | translate}}</span>
</div>

<!-- Player Options -->
<div class="button-container">
  <button 
    *ngFor="let image of currentImages" 
    type="button"
    class="round-button"
    [ngStyle]="{'background-image': 'url(' + 'http://localhost:8080/h2h-combat/images/' + image.imageName + ')'}"
    [value]="image.name"  
    (click)="selectChoice(image.name)"
    [ngClass]="{'selected': choice === image.name}"
  >
  </button>
</div>

<!-- Play Button -->
<button class="play-button" (click)="play()">{{'playPage.play' | translate}}</button>

<!-- Scoreboard -->
<div class="scoreboard">
  <div class="score">
    <p>{{'playPage.playerWins' | translate}} <span class="score-value">{{ sPlayerWins }}</span></p>
    <div class="score-bar player-score" [style.width.%]="(sPlayerWins / (sPlayerWins + sCpuWins)) * 100"></div>
  </div>
  
  <div class="score">
    <p>{{'playPage.cpuWins' | translate}} <span class="score-value">{{ sCpuWins }}</span></p>
    <div class="score-bar cpu-score" [style.width.%]="(sCpuWins / (sPlayerWins + sCpuWins)) * 100"></div>
  </div>
</div>

<!-- Display Game Result -->
<div *ngIf="resultMessage" class="game-result">
  <h3>{{'playPage.winner.' + (winner || '')| translate}}</h3>
  <p><strong>{{'playPage.playerMove' | translate}}</strong> {{ 'playPage.moves.' + (choice || '') | translate | uppercase }}</p>
  <p><strong>{{'playPage.cpuMove' | translate}}</strong> {{ 'playPage.moves.' + (computerMove || '') | translate | uppercase }}</p>
</div>
